.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 8px;
}

.header-home {
    position: relative;
}

.header-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1)), url("../img/unsplash_5P_DABYHK1A.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}



.hero {
    color: $white-normal;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 42px;
    }


    p {
        text-align: center;
        margin: 14px 0;

    }
}

.button-contact {

    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border: 0;
    font-size: 18px;
    font-weight: 600px;
    margin: 14px 0;
}

.button-contact:hover {


    animation: scaleBuuton 0.8s alternate infinite;
}

@keyframes scaleBuuton {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.07);
    }
}

@media screen and (max-width:940px) {
    .hero {
        min-height: 60vh;


        h1 {
            font-size: 30px;
            padding: 0 20px;
            width: 100%;
        }

        p {
            font-size: 15px;
        }
    }


}

@media screen and (max-width:480px) {
    .hero {

        h1 {
            font-size: 24px;
        }
    }
}

.abaut {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.abaut-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;

    img {
        max-width: 490px;

    }
}

.abaut-content div {
    flex: 1;
}

.abaut-description {
    h2 {
        font-size: 35px;
        margin-bottom: 25px;
    }

    p {

        margin-bottom: 14px;
        line-height: 150%;
    }

}

@media screen and (max-width:900px) {
    .abaut-content {
        flex-direction: column;
    }

}

.services {
    background-color: $white-normal;
    color: $black-normal ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 28px;
}

.services-content p {
    line-height: 150%;
    margin-bottom: 15px;
    text-align: center;
    max-width: 780px;
}

.haircuts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 44px 34px 44px;
}

.haircut {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: $white-normal;
    border-radius: 8px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    margin-top: 50px;


    img {
        width: 100%;
        max-width: 280px;
        transition: transform 0.9s;

    }
}

.haircut img:hover {
    transform: scale(1.2);
    z-index: 1;
}

.haircut-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    background-color: $white-normal ;
    z-index: 99;

}

.haircut-info button {
    color: $white-normal;
    background-color: $red-normal;
    padding: 4px 8px;
    border-radius: 4px;
    border: 8px;
    cursor: default;
}

@media screen and (max-width: 940px) {

    .haircuts {
        flex-direction: column;
    }

    .haircut img {
        max-width: 400px;

    }

    .haircut {
        font-size: 14px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    gap: 25px;
    color: $white-normal;
    margin-top: 30px;

}

.footer-icons {
    display: flex;
    gap: 15px;
    color: $white-normal;
}

.btn-whatsapp {

    position: fixed;
    bottom: 15px;
    right: 24px;
    z-index: 99;


    img {
        max-width: 60px;
        transition: transform 0.5s;
    }

    img:hover {
        transform: scale(1.12);
    }
}

.btn-whatsapp .tooltip-text {

    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -145px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    background-color: $black-normal;
    color: $white-normal;
    opacity: 0;
    transition: opacity 0.5s;
}

.btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 940px) {
    .btn-whatsapp {
        img {
            max-width: 48px;
        }
    }
}



.footer-icons {
    display: flex;
    gap: 15px;



}

.footer-icons a:hover {
    i {
        animation: translatey 0.8s infinite alternate;
        color: $red-light;

    }
}

@keyframes translatey {
    from {
        transform: translatey(0) scale(1);
    }

    to {
        transform: translatey(-8px) scale(1.1);
    }
}


.contatos-container {

    img {
        max-width: 40px;
        border-radius: 5px;

    }

    width: 65%;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-between;




    .contato {
        p {
            flex-direction: center;
            align-items: center;
            font-size: 11px;
            color: $white-normal;

        }
        color: $white-normal;

        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        gap: 15px;

    }
}

.contato-numeros {
    color: $white-normal;
}

@media screen and (max-width: 940px) {

    .contatos-container {

        img {
            max-width: 35px;
            border-radius: 5px;

        }

        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .contato {
            gap: 16px;
            padding: 30px;

        }
    }
}

.desenvolvedor {

    h2 {
        color: white;
        font-size: 15px;
        padding: 10px;
        font-weight: bold;

    }


}

.desenvolvedor a:hover {
    h2 {
        animation: translatey 0.8s infinite alternate;
        color: $red-light;

    }
}

@keyframes translatey {
    from {
        transform: translatey(0) scale(1);
    }

    to {
        transform: translatey(-5px) scale(1);
    }
}


@media screen and (max-width: 940px) {

    .desenvolvedor {


        h2 {

            font-size: 12px;
            padding: 20px;


        }


    }

}